* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  display: grid;
  grid-template-columns: 0.8fr 3fr;
  grid-template-rows: 1fr 6fr;
  height: 100vh;
}

.header {
  z-index: 1;
  background-color: #f8fafc;
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 1.7fr 1.3fr 1.5fr;
  grid-template-rows: 1fr 1fr;
  max-width: 100%;
  max-height: 100%;
  box-shadow: 2px 11px 5px -7px rgba(0, 0, 0, 0.34);
}

form {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  text-align: left;
  padding-top: 15px;
  padding-left: 60px;
}
input {
  border-radius: 16px;
  border: none;
  background-color: #cbd5e1;
  height: 25px;
}
.username {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.username img {
  height: 70px;
  width: auto;
  padding-right: 30px;
}
.profile-info {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  text-align: right;
  font-weight: bolder;
  font-size: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: right;
  align-items: center;
}
.profile-info img {
  height: 50px;
  width: auto;
  padding-right: 20px;
}
.header-buttons {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.sidebar {
  background-color: #1e293b;
  grid-row: 1 / 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr repeat(5, 1fr) 2fr repeat(2, 1fr) 6fr;
  text-align: center;
  max-width: 100%;
  max-height: 100%;
}
.sidebar-item.dashboard {
  font-size: 28px;
  color: white;
}
.sidebar-item.dashboard img {
  width: 40px;
  height: 40px;
  align-content: center;
  padding-right: 10px;
}
.sidebar-item {
  font-size: 20px;
  color: white;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 30px;
}

.sidebar-item img {
  width: 20px;
  height: 20px;
  align-content: center;
  padding-right: 20px;
}

.content {
  background-color: #cbd5e1;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 5fr 1fr 5fr;
  width: 100%;
  max-height: 100%;
}
.projects {
  grid-column: 1 / 2;
  text-align: left;
  padding-left: 20px;
  font-size: 25px;
  font-weight: bold;
}
.projects p {
  padding-top: 20px;
  margin-bottom: 0;
}
.announcements {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  text-align: left;
  font-size: 25px;
  font-weight: bold;
}

.announcements p {
  padding-top: 20px;
  margin-bottom: 0;
}
.projects-container {
  grid-column: 1 / 2;
  grid-row: 2 / 5;
  background-color: #cbd5e1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding-bottom: 30px;
}

.projects-item {
  background-color: #f8fafc;
  border-color: black;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.75);
  text-align: left;
  padding: 20px;
}

.annoucements-container {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: #cbd5e1;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  padding-top: 10px;
  padding-right: 15px;
  gap: 5px;
}
.announcement-item {
  background-color: #f8fafc;
  border-radius: 5px;
  box-shadow: 2px 4px 3px 0px rgba(0, 0, 0, 0.75);
  padding: 2px;
  font-size: 12px;
}
.trending {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  text-align: left;
  font-size: 25px;
  font-weight: bold;
}
.trending p {
  padding-top: 10px;
  margin-bottom: 0;
}
.trending-container {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  background-color: #cbd5e1;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  padding-bottom: 40px;
  padding-right: 15px;
  gap: 5px;
}
.trending-item {
  background-color: #f8fafc;
  border-radius: 5px;
  box-shadow: 2px 4px 3px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 10px;
}

.trending-item img {
  width: 60px;
  height: 60px;
  align-content: center;
  padding-right: 20px;
}

.trending-item p {
  font-weight: bolder;
  font-size: 20px;
}

button {
  background-color: #1e293b;
  color: white;
  border-radius: 20px;
  height: 40px;
  width: 140px;
  font-weight: bolder;
}
